<form action="/UserData" method="post">
    <label for="">Username</label><br>
    <input type="text" id="userName" name="userName" /><br><br>
    <label for="">password</label><br>
    <input type="text" id="passWord" name="passWord" /><br><br>
    <button type="submit">Submit</button>
</form>